name: testing

on:
  push:
    branches:
    - main

jobs:
  my_job:
    runs-on: ubuntu-22.04

    steps:
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Install Dependencies
      run: npm install
